#orbit {
        stroke : #000000;
        fill : none;
      }
      .planet {
        stroke : #000000;
      }
      .sun {
        stroke : #000000;
        fill : #FDB813;
      }

#visualization .container {
  position : relative;
  max-width: 1500px;
}

#story-text {
  vertical-align: middle;
  font-size: 26px;
  line-height: 140%;
  display: table-cell;
}

#story-text {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#intro-header {
  background: center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  height: 700px;
}


#intro-header .container {
  background: rgba(0,0,0,0.1);
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  z-index: 2;
}

#intro-header .container {
  color: white;
  text-align: center;
  padding-top: 200px;
}


#intro-header h1 {
  font-size: 90px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#intro-header .byline {
  font-size: 50px;
}


/* style body */

body {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  background-color: rgb(250, 250, 255);
  font-size: 26px;
  line-height: 140%;
}



.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip2 {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  top:1600px!important;
  left:55%!important;
  margin-left:-100px;
}

