svg {
    font: 10px sans-serif;
}
.linage {
    fill: none;
    stroke: #000;
}
.marriage {
    fill: none;
    stroke: black;
}
.man {
    background-color: #00a2e6;
    border-style: solid;
    border-width: 1px;
}
.woman {
    background-color: #ff00a4;
    border-style: solid;
    border-width: 1px;
}
.emphasis{
    font-style: italic;
}
p {
    padding:0;
    margin:0;
}

h1 {
    background-color: #E8E8E6;
    text-align: justify;
    text-indent: 100px;
    font: 11px Droid-sans;

}